<h1> New </h1>
<p><%= @result %></p>

<form action="/score" data-turbo="false" class="d-flex" >
  <input type="text" class="form-control" placeholder="type your words.." name="text">
  <input type="submit" class="btn btn-primary" value="Play!">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :result, @result %>
</form>
